.right-column{
  border: 1px solid black;
}

.left-column{
  display: flex;
  border: 1px solid red;
  width: 100%;
  height: 400px;
}

.mapped-images{
  border: 1px solid grey;
  width: 100%;
  height:100px
}